@charset "UTF-8";

body{
    margin: 0;
    background-color: hsl(225, 100%, 94%);
}

.background_img{
    width: 1900px;
    height: 600px;
    margin: 0;
    padding: 0;
}

.squared_container{
    position: absolute;
    width: 450px;
    height: 75%;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 20px;
    /* box-shadow: 1px 1px 15px hsl(224, 23%, 55%); */
}

#img_content{
    position: absolute;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

.title_paragraph{
    position: relative;
    text-align: center;
    margin-top: 260px;
}

.title {
    color: hsl(223, 47%, 23%);
    font-family: 'Poppins', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 28px;
    margin: 1;
}

.paragraph{
    position: absolute;
    left: 50px;
    right: 50px;
    color: hsl(224, 23%, 55%);
    font-family: sans-serif;
    line-height: 25px;
    margin: 0;
}

.square_music{
    position: absolute;
    top: 220px;
    bottom: 0;
    left: 0;
    right: 0%;
    margin: auto;
    width: 79%;
    height: 13%;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
}

.icon_music{
    margin: 24px;
}

.text_value{
    position: absolute;
    bottom: 21px;
    margin-left: 90px;
}

#title_content{
    position: relative;
    color: hsl(223, 47%, 23%);
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 800;
    margin: 5px;
}

#value_content{
    margin: 5px;
    color: hsl(224, 23%, 55%);
    font-family: sans-serif;
}

.hover_content{
    position: absolute;
    bottom: 23px;
    right: 22px;
    color: hsl(224, 23%, 55%);
    font-family: 'Manrope', sans-serif;
    font-size: 13.8px;
}

#button{
    position: absolute;
    bottom: 100px;
    width: 80%;
    left: 45px;
    border: none;
    margin-top: 30px;
    padding: 13px;
    border: 1px solid hsl(247, 84%, 66%);
    background-color: hsl(247, 84%, 66%);
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    /* box-shadow: 0px 4px 15px hsl(224, 23%, 55%); */
}

#cancel_content {
    position: absolute;
    bottom: 55px;
    left: 180px;
    margin: auto;
    color: hsl(223, 47%, 23%);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14.5px;
}

